# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
bot-env/
venv/
.env/
.venv/

# =========================
# Environment Variables
# =========================
.env
